In [5]:
n = int(input())

x = 1
y = 1
z = 2

while x + y <= n:
    z = x + y
    x, y = y, z
print(z)

232
144

In [8]:
n = input()
cnt = 0

for i in n:
  if i == " ":
    cnt += 1
print(cnt + 1)

um ba la
3

In [2]:
n = input()
ans = ""

for i in n:
  if i == " ":
    print(ans)
    break
  ans += i

oh mai got
oh

In [3]:
a, b, c = map(int, input().split())
print(a + b + c)

3 12 15
30

In [6]:
n = input()
hoa = 0
thuong = 0
so = 0

for i in n:
  if i >= "0" and i <= "9":
    so += 1
    continue
  if i == i.upper():
    hoa += 1
  if i == i.lower():
    thuong += 1
print(f"{hoa} {thuong} {so}")

aduUM23
2 3 2

In [13]:
n = input()
ans = 0

for i in n:
  if i >= "0" and i <= "9":
    ans += int(i)

print(ans)

d
0

In [16]:
n = input()
hoa = 0
thuong = 0
so = 0
db = 0
for i in n:
  if i >= "0" and i <= "9":
    so += 1
  if i >= "A" and i <= "Z":
    hoa += 1
  if i >= "a" and i <= "z":
    thuong += 1

db = len(n) - so - hoa - thuong
print(f"{hoa} {thuong} {so} {db}")
if hoa >= 1 and thuong >= 1 and so >= 1 and len(n) >= 6 and db >= 1:
  print("mk qua manh")
else:
  print("mk qua ga")

AD2dda
2 3 1 0
mk qua ga

In [33]:
n = input()
ans = ""
cnt = 0
for i in range(len(n) - 1, 0, -1):
  ans += n[i]
  cnt += 1
  if cnt % 3 == 0:
    ans += ","
ans += n[0]
print(ans[::-1])

219832183921893
219,832,183,921,893

In [37]:
a = input()
b = input()
m = a.split()
n = b.split()

my_dict = {}
for i in n:
  my_dict[i] = 1

for i in m:
  if i not in my_dict:
    print(i, end = " ")

khong duoc chep code
duoc
khong chep code