In [2]:
#W6A1
arr = list(map(int, input().split()))

print(list(set(arr)))

1 2 2 3 3 4
[1, 2, 3, 4]

In [3]:
#W6A2
arr = list(map(int, input().split()))
cur = 0
ans = []

for i in arr:
  cur += i
  ans.append(cur)

print(ans)

1 2 3 4
[1, 3, 6, 10]

In [8]:
#W6A3
def rotate(t, k):
    if not t:
        return ()

    n = len(t)
    k = k % n

    rotated_list = list(t[k:]) + list(t[:k])

    return tuple(rotated_list)

original_tuple = tuple(map(int, input().split()))
k = int(input())

result_tuple = rotate(original_tuple, k)

print(result_tuple)

10
1
(10,)

In [11]:
#W6A4
from collections import defaultdict

def c(s):
    d = defaultdict(list)
    p = s.split()

    for item in p:
      k, v = item.split(':', 1)
      d[k].append(v)


    return dict(d)

s = input()
r = c(s)
print(r)

a:1 b:2
{'a': ['1'], 'b': ['2']}

In [17]:
#W6A5
s = input()
l = list(map(int, s.split()))

p, n, z = 0, 0, 0
for x in l:
    if x > 0:
        p += 1
    elif x < 0:
        n += 1
    else:
        z += 1

r = {'positives': p, 'negatives': n, 'zeros': z}
print(r)

1 2
{'positives': 2, 'negatives': 0, 'zeros': 0}

In [19]:
#W6A6
arr = list(map(int, input().split()))

print(sum(arr))

1 2 3
6

In [21]:
#W6A7
def p(t):
    f = t[0]
    l = t[-1]
    r = t[::-1]
    return f, l, r

s = input()
t = tuple(s.split())
f, l, r = p(t)
print(f, l, r)

5 8 2 7 1 4
5 4 ('4', '1', '7', '2', '8', '5')

In [20]:
#W6A8
def c(l):
    d = {}
    for w in l:
        if w in d:
            d[w] += 1
        else:
            d[w] = 1
    return d

s = input()
l = s.split()
r = c(l)
print(r)

a a a 2
{'a': 3, '2': 1}

In [ ]:
#W6A9
d1 = eval(input())
d2 = eval(input())

r = {}

k = set(d1.keys()) | set(d2.keys())

for key in k:
    v1 = d1.get(key, 0)
    v2 = d2.get(key, 0)
    r[key] = v1 + v2

s = dict(sorted(r.items()))
print(s)

In [24]:
#W6A10
def f(l, k):
    r = []
    n = len(l)

    for i in range(n):
        for j in range(i, n):
            if l[i] + l[j] == k:
                p = (l[i], l[j])
                r.append(p)

    r.sort()
    return r

s = input()
l = list(map(int, s.split()))
k = int(input())

rs = f(l, k)
print(rs)

1 2 3 4 5 6
6
[(1, 5), (2, 4), (3, 3)]

In [25]:
#W6A11
def t(t):
    e = []
    o = []

    for x in t:
        if x % 2 == 0:
            e.append(x)
        else:
            o.append(x)

    e_t = tuple(e)
    o_t = tuple(o)

    return e_t, o_t

s = input()
t_in = tuple(map(int, s.split()))

e_out, o_out = t(t_in)
print(e_out)
print(o_out)

1  2 8 6 5  8 5  72 2 2 3 32 323
(2, 8, 6, 8, 72, 2, 2, 32)
(1, 5, 5, 3, 323)

In [26]:
#W6A12
def f(l):
    c = {}
    for x in l:
        c[x] = c.get(x, 0) + 1

    max_c = max(c.values())

    a = []
    for x, count in c.items():
        if count == max_c:
            a.append(x)

    return min(a)

s = input()
l = list(map(int, s.split()))

rs = f(l)
print(rs)

 1 2 3 4 5 6 4 2 3
2

In [27]:
#W6A13
def s_to_d(s):
    l = s.split()
    d = {}

    for i in range(0, len(l), 2):
        k = l[i]
        v = l[i+1]
        d[k] = v

    return d

def invert(d):
    r = {}
    for k, v in d.items():
        r[v] = k
    return r

s = input()
d_in = s_to_d(s)
d_out = invert(d_in)
print(d_out)

a 1 b 2 c 3
{'1': 'a', '2': 'b', '3': 'c'}

In [28]:

#W6A14
s1 = input()
s2 = input()

l1 = list(map(int, s1.split()))
l2 = list(map(int, s2.split()))

r = list(set(l1) & set(l2))

print(r)

1 2 3 4 4 5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [29]:
#W6A15
def s_to_d(s):
    l = s.split()
    d = {}

    for i in range(0, len(l), 2):
        k = l[i]
        v = l[i+1]
        d[k] = int(v)

    return d

def f(d, k):
    r = {}
    for key, val in d.items():
        if val > k:
            r[key] = val
    return r

s_in = input()
k = int(input())

d_in = s_to_d(s_in)
d_out = f(d_in, k)
print(d_out)

adu 95 adu2 37
38
{'adu': 95}

In [31]:
#W6A16
r = []
s = input()
h = list(map(int, s.split()))
r.append(h)

for h in r:
    l = ""
    for n in h:
        l += f"{n:4d}"
    print(l)

2 3
   2   3

In [40]:
#W6A17
s = input().split()
l = [int(x) for x in s]
n = int(len(l)**0.5)
a = [l[i*n:(i+1)*n] for i in range(n)]

print([a[i][i] for i in range(n)])
print([a[i][n-1-i] for i in range(n)])

1 2 23 23 23 23 232 23 32
[1, 23, 32]
[23, 23, 232]

In [45]:
#W6A18
p = list(map(int, input().split()))
n, k = p[0], p[2]
a = [list(map(int, input().split())) for _ in range(n)]

print(sum(r[k] for r in a))

2 1 2
2 2 2 2 2 2
 2 2 2 2 2 2 2
4

In [46]:
#W6A19
p = list(map(int, input().split()))
print(max(p))

1 2 3 5 2 32 32 1 13 3
32

In [50]:
#W6A20
s = input().split()
l = [int(x) for x in s]
k = int(input())

try:
    r = l.index(k)
    print(r + 1)
except ValueError:
    print(-1)

1 2 3 4 5
5
5

In [52]:
#W6A21
s = input().split()
d = {}
for i, w in enumerate(s):
    if w not in d:
        d[w] = []
    d[w].append(i)
for w in d:
    d[w] = tuple(d[w])

print(d)

a b a c b a
{'a': (0, 2, 5), 'b': (1, 4), 'c': (3,)}

In [53]:
#W6A21
p = list(map(int, input().split()))
print(max(p))

2 2 2 2
2