In [14]:
#1

n = int(input())

ans = 0
i = 1
while i <= n:
  ans += i
  i += 1

print(ans)

2
3

In [32]:
#2
n = int(input())
if n < 2:
  print("False")
  exit(0)
if n == 2:
  print("True")
  exit(0)
cnt = 0
for i in range(1, n + 1):
  if n % i == 0:
    cnt += 1

if cnt == 2:
  print("True")
else:
  print("False")

2
True
True

In [4]:
#3
n = int(input())
ans = 1
i = 1
while i <= n:
  ans *= i
  i += 1
print(ans)

4
24

In [5]:
#4
a = input()
cnt = 0
for i in a:
  if i >= "0" and i <= "9":
    cnt += 1
print(cnt)

-4234
4

In [17]:
#5
n = int(input())
ls = list(map(int, input().split()))

if 42 in ls:
  print("I've found the meaning of life")
else:
  print("It's a joke")

5
42 2 3 4
I've found the meaning of life

In [29]:
#6
a, b = map(int, input().split())
ans = 0
for i in range(a, b + 1):
  if i < 2:
    continue
  if i == 2:
    ans += i
    continue

  b = 0
  for j in range(1, i + 1):
    if i % j == 0:
      b += 1

  if b == 2:
    ans += i

print(ans)

2 10
17

In [2]:
#7

n = int(input())
i = 2
while i * i <= n:
    if n % i == 0:
        n //= i
    else:
        i += 1
print(n)

64
2

In [6]:
#8
def ip(n):
    return str(n) == str(n)[::-1]
n = int(input())
steps = 0
while not ip(n):
    n = n + int(str(n)[::-1])
    steps += 1
print(f"{steps} {n}")

195
4 9339

In [10]:
#9
n = int(input())
result = []
i = 1
while i * i <= n:
    if len(set(str(i * i))) == len(str(i * i)):
        result.append(i * i)
    i += 1
if not result:
    print("no number")
else:
    print(*result)

100
1 4 9 16 25 36 49 64 81

In [13]:
#10
def check(n):
    if n == 1:
        return 1
    if n % 2 == 0:
        return 1 + check(n // 2)
    else:
        return 1 + check(3 * n + 1)
n = int(input())
m_len = 0
m_sum = 0
for i in range(1, n + 1):
    length = check(i)
    if length > m_len:
        m_len = length
        m_sum = i
print(f"{m_sum} {m_len}")

10
9 20

In [53]:
#11
def count_divisor(n):
  cnt = 0
  for i in range(1, n + 1):
    if n % i == 0 and i % 2 == 0:
      cnt += 1
  return cnt

a = int(input())
print(count_divisor(a))

10024
12

In [14]:
#12
x, n = map(int, input().split())
r = 0.007
t = x * (1 + r) ** n
print(int(t))

1000 12
1087

In [50]:
#13
def count_divisor(n):
  cnt = 0
  for i in range(1, n):
    if n % i == 0:
      cnt += i
  return cnt

a, b = map(int, input().split())
if count_divisor(a) == b and count_divisor(b) == a:
  print("true")
else:
  print("false")

10 7
false

In [ ]:
#14
import math

a, b = map(int, input().split())
lcm_ = (a * b) // math.gcd(a, b)

for i in range(1, lcm_ + 1):
  if i <= min(a, b) and lcm_ % i == 0:
    print(i, end = " ")

In [45]:
#15

a, b = map(int, input().split())
# x + y = a
# 2x + 4y = b
# x = (b - 4y)/2
# x = (b - 4(a - x)) / 2
# x = (b - 4a + 4x)/2
# 2x = b - 4a + 4x
# -2x = b - 4a
# x = -(b - 4a) / 2
# y = a - x

x = -(b - 4 * a)
if x % 2 != 0:
  print("invalid")
else:
  print(x // 2, end = " ")
  print(a - x // 2)

52 117
invalid

In [40]:
#16

for i in range(101):
  if i % 2 == 0 and i % 3 == 0:
    print(i, end = " ")

0 6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [39]:
#17

a = int(input())

for i in range(10):
  t = a * i
  print(f"{a} * {i} = {t}")

5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [38]:
#18
import math

a, b = map(int, input().split())
lcm_ = (a * b) // math.gcd(a, b)

for i in range(1, lcm_ + 1):
  if i <= min(a, b) and lcm_ % i == 0:
    print(i, end = " ")

25 25
1 5 25

In [25]:
#19
n = int(input())

for i in range(2, n + 1):
  if i % 2 == 0:
    print(i, end = " ")

8
2 4 6 8

In [21]:
#20
n = float(input())

while n > 1:
  n /= 2
if n == int(n):
  print("YES")
else:
  print("NO")

1023
NO

In [16]:
#21
n = input()
ans = 0

for i in n:
  ans += int(i)

print(ans)

2134
10

In [15]:
#22
n = input()
even = 0
odd = 0

for i in n:
  if int(i) % 2 == 0:
    even += 1
  else:
    odd += 1

print(f"{even} {odd}")

213
1 2

In [14]:
#23
A = int(input())
s = 0
n = 1
while s < A:
  s += n
  n += 1

# 1 2 3 4
print(n - 2)

3
1

In [7]:
#24
A = int(input())
s = 0
n = 1
while s <= A:
  s += 1 / n
  n += 1
print(n - 1)

7
617

In [1]:
#25
n = 0
maximum = int(-1e18)
minimum = int(1e18)

n = int(input())

if n != -1:
    maximum = n
    minimum = n

while (n != -1):
  n = int(input())
  if n != -1:
      maximum = max(maximum, n)
      minimum = min(minimum, n)

print(maximum)
print(minimum)

2
3
-1
3
2

In [6]:
#26
n = int(input())

x = 1
y = 1
z = 2

while x + y <= n:
    z = x + y
    x, y = y, z
print(z)

5
5

In [8]:
#27
n = input()
cnt = 0

for i in n:
  if i == " ":
    cnt += 1
print(cnt + 1)

um ba la
3

In [2]:
#28
n = input()
ans = ""

for i in n:
  if i == " ":
    print(ans)
    break
  ans += i

oh mai got
oh

In [3]:
#29
a, b, c = map(int, input().split())
print(a + b + c)

3 12 15
30

In [6]:
#30
n = input()
hoa = 0
thuong = 0
so = 0

for i in n:
  if i >= "0" and i <= "9":
    so += 1
    continue
  if i == i.upper():
    hoa += 1
  if i == i.lower():
    thuong += 1
print(f"{hoa} {thuong} {so}")

aduUM23
2 3 2

In [13]:
#31
n = input()
ans = 0

for i in n:
  if i >= "0" and i <= "9":
    ans += int(i)

print(ans)

d
0

In [16]:
#32
n = input()
hoa = 0
thuong = 0
so = 0
db = 0
for i in n:
  if i >= "0" and i <= "9":
    so += 1
  if i >= "A" and i <= "Z":
    hoa += 1
  if i >= "a" and i <= "z":
    thuong += 1

db = len(n) - so - hoa - thuong
print(f"{hoa} {thuong} {so} {db}")
if hoa >= 1 and thuong >= 1 and so >= 1 and len(n) >= 6 and db >= 1:
  print("mk qua manh")
else:
  print("mk qua ga")

AD2dda
2 3 1 0
mk qua ga

In [33]:
#33
n = input()
ans = ""
cnt = 0
for i in range(len(n) - 1, 0, -1):
  ans += n[i]
  cnt += 1
  if cnt % 3 == 0:
    ans += ","
ans += n[0]
print(ans[::-1])

219832183921893
219,832,183,921,893

In [37]:
#34
a = input()
b = input()
m = a.split()
n = b.split()

my_dict = {}
for i in n:
  my_dict[i] = 1

for i in m:
  if i not in my_dict:
    print(i, end = " ")

khong duoc chep code
duoc
khong chep code